<div class="starter-template">
  <h1>Join and Follow People and Companies.</h1>
  <p class="lead">TwittA is free. Sign up today and embark on a new adventure.</p>
</div>
<div class="col-md-8 col-md-offset-4">
  <a class="btn btn-primary btn-lg" href="/signup">Signup</a>
  <a class="btn btn-primary btn-lg" href="/login">Login</a>
</div>
